@model VidaEstudiantil.Models.CARRERA

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>CARRERA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioEdicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioEdicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaEdicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaEdicion)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdCarrera }) |
    @Html.ActionLink("Regresar", "Index")
</p>
